{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block link %}{% endblock %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container d-flex flex-column min-vh-100" style="background-color: rgba(0,0,255,.1);">
    {% block content %}
        
    {% endblock content %}
    </div>
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/umd/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/insertar.js' %}"></script>
</body>
</html>
